<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS -->
    </head>
    <body>
        <div class="login-container">
            <h2>Login</h2>
            <!-- Display error if present -->
            <div id="response-message" class="response-message" style="display:none; color: green;"></div>
            <!-- Error Message -->
            <div class="error-message" id="error-message" style="display:none; color: red;"></div>


            <form action="/login" method="POST" id="loginForm"> <!-- Replace with your backend login URL -->
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="login-btn" id="LoginButton">Login</button>
            </form>
            <p class="account-link">Don't have an account? <a href="/signup" class="login-link">Sign Up</a></p>
        </div>
        <script src="/js/login_validation.js"></script>
    </body>
</html>
